@charset "UTF-8";
/*Общие стили секций */
section {
  padding: 40px 0; }

.section__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.section__container_reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.section__header {
  width: 20%;
  padding: 20px;
  text-align: right; }

.section__head {
  font-size: 2rem;
  text-transform: uppercase; }

.section__head-description {
  font-size: 1rem; }

.section__content {
  position: relative;
  width: 80%;
  padding: 30px 20px;
  text-align: justify; }
  .section__content::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%; }

.section__container_reversed .section__content::before {
  display: none; }

.section__container_reversed .section__content::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%; }

/*Общие стили секций */
